@use "./stepSwitch" as *;

.calculator {
    --border-radius: 0.5rem;
    --button-shadow-size: 0.15rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;

    .calculator-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .theme-toggle-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .calculator-display {
        background-color: var(--theme-background-3);
        text-align: right;
        word-wrap: break-word;
        padding: 0.65em;
        border-radius: var(--border-radius);
        font-size: 2.75rem;
    }

    .key-pad {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
            "seven eight nine del"
            "four five six plus"
            "one two three minus"
            "period zero divide multiply"
            "reset reset equals equals";
        background-color: var(--theme-background-2);
        padding: 1.25rem;
        border-radius: var(--border-radius);

            button {
                --shadow-color: transparent;
                --background-color: transparent;
                --text-color: transparent;
                --hover-color: transparent;

                cursor: pointer;
                border: none;
                border-radius: 0.3em;
                text-transform: uppercase;
                height: 2.5rem;
                background-color: var(--background-color);
                color: var(--text-color);
                border-bottom: var(--button-shadow-size) solid var(--shadow-color);
                transition: 
                    border-width 200ms, 
                    transform 200ms,
                    background-color 200ms;

                &:active {
                    border-width: 0px;
                    transform: translateY(var(--button-shadow-size));
                }

                &:hover {
                    background-color: var(--hover-color);
                }
            }

            .button-primary {
                --shadow-color: var(--key-primary-shadow);
                --background-color: var(--key-primary-background);
                --text-color: var(--key-primary-text);
                --hover-color: var(--key-primary-hover);

                font-size: 1.5rem;
            }

            .button-secondary {
                --shadow-color: var(--key-secondary-shadow);
                --background-color: var(--key-secondary-background);
                --text-color: var(--key-secondary-text);
                --hover-color: var(--key-secondary-hover);

                font-size: 1.15rem;
            }

            .digit-0-button { grid-area: zero }
            .digit-1-button { grid-area: one }
            .digit-2-button { grid-area: two }
            .digit-3-button { grid-area: three }
            .digit-4-button { grid-area: four }
            .digit-5-button { grid-area: five }
            .digit-6-button { grid-area: six }
            .digit-7-button { grid-area: seven }
            .digit-8-button { grid-area: eight }
            .digit-9-button { grid-area: nine }
            .digit-period-button { grid-area: period }
            
            .plus-button { grid-area: plus }
            .minus-button { grid-area: minus }
            .multiply-button { grid-area: multiply }
            .divide-button { grid-area: divide }

            .del-button { grid-area: del }
            .reset-button { grid-area: reset }
            .equals-button { 
                --shadow-color: var(--key-equals-shadow);
                --background-color: var(--key-equals-background);
                --text-color: var(--key-equals-text);
                --hover-color: var(--key-equals-hover);

                grid-area: equals;
            }
    }
}